<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Fab buttons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
 <!-- fab disposto no topo e inicio-->
    <ion-fab  slot="fixed" horizontal="start" vertical="top">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab  slot="fixed" horizontal="center" vertical="center">
    <ion-fab-button color="success">
      <ion-icon name="bag-remove-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="cash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
